<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="all">
        <a href="/">HomePage</a>
        All uploaded files
       <% if(allFiles.length > 0){%>
        <% allFiles.forEach(function (file) {%>
            <% if(file.imageName.split(".")[1] === mp4){%>
                <video src="./viaMulter/<%= file.imageName %>  " controls autoplay loop muted style="width: 30vw;"></video>
            <%}else {%>
                <img src="./viaMultr/<%= file.imageName %> " style="width: 20vw;" alt="">
            <%} %> 
        <%}) %> 
       <%} %>  
    </div>
    <style>
        .all{
            display: flex;
            background-color: plum;
        }

    </style>
</body>
</html>